<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwExceptions="false">

	<targets async="true">
		<target xsi:type="File"
                name="default"
                layout="${longdate} - ${level:uppercase=true}: ${message}${onexception:${newline}EXCEPTION\: ${exception:format=ToString}}"
                fileName="${specialfolder:LocalApplicationData}\Logs\Log.log"
                keepFileOpen="false"
                archiveFileName="${specialfolder:LocalApplicationData}\Logs\Log_${shortdate}.{##}.log"
                archiveNumbering="Sequence"
                archiveEvery="Day"
                maxArchiveFiles="30"
            />
	</targets>
	<rules>
		<logger name="*" writeTo="default" minlevel="Info" />
	</rules>
</nlog>