<?xml version="1.0" encoding="utf-8"?>

<Package
  xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
  xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
  xmlns:uap5="http://schemas.microsoft.com/appx/manifest/uap/windows10/5"
  xmlns:uap7="http://schemas.microsoft.com/appx/manifest/uap/windows10/7"
  xmlns:rescap="http://schemas.microsoft.com/appx/manifest/foundation/windows10/restrictedcapabilities"
  xmlns:com="http://schemas.microsoft.com/appx/manifest/com/windows10"
  xmlns:desktop="http://schemas.microsoft.com/appx/manifest/desktop/windows10"
  IgnorableNamespaces="uap uap5 uap7 rescap com desktop">

	<Identity
	  Name="306200B4771A6.217957860C1A5"
	  Publisher="CN=148E23EA-3EA2-4733-8A82-49C463DC3722"
	  Version="1.3.45.0" />

	<Properties>
		<DisplayName>热词</DisplayName>
		<PublisherDisplayName>叫我蓝火火</PublisherDisplayName>
		<Logo>Images\StoreLogo.png</Logo>
	</Properties>

	<Dependencies>
		<TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.0.0" MaxVersionTested="10.0.0.0" />
		<TargetDeviceFamily Name="Windows.Desktop" MinVersion="10.0.14393.0" MaxVersionTested="10.0.14393.0" />
	</Dependencies>

	<Resources>
		<Resource Language="x-generate"/>
	</Resources>

	<Applications>
		<Application Id="App"
		  Executable="$targetnametoken$.exe"
		  EntryPoint="$targetentrypoint$">
			<uap:VisualElements
			  DisplayName="热词"
			  Description="HotLyric.Package"
			  BackgroundColor="transparent"
			  Square150x150Logo="Images\Square150x150Logo.png"
			  Square44x44Logo="Images\Square44x44Logo.png">
				<uap:DefaultTile Wide310x150Logo="Images\Wide310x150Logo.png" />
				<uap:SplashScreen Image="Images\SplashScreen.png" />
			</uap:VisualElements>

			<Extensions>
				<uap:Extension Category="windows.protocol" Executable="HotLyric.Win32\HotLyric.Win32.exe" EntryPoint="Windows.FullTrustApplication">
					<uap:Protocol Name="hot-lyric" />
				</uap:Extension>
				<uap5:Extension
				  Category="windows.startupTask"
				  Executable="HotLyric.Win32\HotLyric.Win32.exe"
				  EntryPoint="Windows.FullTrustApplication">
					<uap5:StartupTask
					  TaskId="HotLyricStartupTask"
					  Enabled="false"
					  DisplayName="热词" />
				</uap5:Extension>
			</Extensions>

		</Application>
	</Applications>

	<Capabilities>
		<Capability Name="internetClient" />
		<rescap:Capability Name="runFullTrust" />
		<uap7:Capability Name="globalMediaControl" />
	</Capabilities>
</Package>
